article {
    border: 2px solid black;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#barra{
    display: flex;
    margin-bottom: 5%;
    margin-top: 2.5%;
}

#dades {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 100%;
}

#dades li {
    list-style-type: none;
    font-family: 'Press Start 2P', cursive;
    background: lightgrey;
    width: 120%;
    text-align: center;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

#numPoke, #addPoke, #input {
    margin-left: 10px;
    width: calc(100% - 20px); /* Ancho total del div menos los márgenes */
}

#fightSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

#buttons {
    width: 100%;
    display: grid;
    gap: 10px;
    margin-left: 1%;
}

#fightBtn, #endBtn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

#numPoke {
    height: 75%;
    border: none;
}

#pokeList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;;
}

#input {
    font-family: 'Press Start 2P', cursive;
}


#addPoke {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
}

#addPoke:hover {
    background-color: #00acf9;
}


#text {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');